$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.center {
  text-align: center;
}

.form-title{
  padding-bottom: 30px;
}

.jumbotron{
  background-image: asset-url('jumbotron_cover.jpg');
  background-size: cover;
  height: 400px;
}

.jumbotron h1{
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 50px;
  letter-spacing: -1px;
  font-weight: bold;
  text-shadow: 2px 2px #000;
}

.description {
  margin-top: 0;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 5px;
}

.article-show-meta{
  border-top: 1px solid #eaeaea;
}

.article-title{
  font-size: 1.5em;
  font-weight: bold;
}

.article-body{
  border-top: 1px solid #eaeaea;
  padding-bottom: 15px;
  padding-top: 15px;
}

.footer{
  margin-top: 45px;
  padding-top: 5px;
  border-top:1px solid #eaeaea;
}

.footer small{
  float: left;
}

.footer ul{
  list-style: none;
  float: right;
}

.footer ul li{
  float: left;
  margin-left: 15px;
}
